body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* 确保导航条占据整个容器宽度 */
  box-shadow: 0 2px 4px 0 rgba(6,0,0,0.2); /* 添加水平和垂直偏移的阴影，以及模糊距离和颜色 */
}
.search-container h3{
  font-weight: normal;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width:100%;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  background-color: #fff;
}

.log-card{
width:10vw;
  height:3vw;
  border-radius: 8px;
  background-color: #4CAF50;
  border: 0.3% solid #ccc; /* 浅灰色边框 */
  display: flex;
  margin-left:2vw;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}

.log-card a{
    color:#fff;
    font-size: 1vw;
}
.main-content1 {
  display: flex;
  justify-content:space-between;
  padding:2vw;
  margin-left: 0;
  display: flex;
  width:90%;
}

.hospital-photo{

  width: 5vw; /* 图片高度 */
  object-fit: cover; /* 可选，保持图片的纵横比 */
  margin-bottom:10px;
  margin-left: 2vw;

}

.user-photo{
  width: 50px; /* 图片宽度 */
  height: auto;
  border-radius: 50%; /* 圆形图片 */
  margin-left:14vw;
  margin-right: 2vw;
}



#search-button:hover {
  background-color: #45a049;
}







.title-card1{
  padding: 10px; /* 内边距 */
  border-radius: 8px; /* 圆角边框 */
  width: 13vw /* 卡片宽度 */;
  align-items: center; /* 垂直居中 */
  height: 3vw;
  margin-left:1vw;
  margin-bottom: 2vw;
  margin-top: 1vw;

}
.title-card2{
  padding: 10px; /* 内边距 */
  border-radius: 8px; /* 圆角边框 */
  width: 55vw; /* 卡片宽度 */
  align-items: center; /* 垂直居中 */
  height: 3vw;
  margin-left:2vw;
  margin-bottom: 2vw;
  margin-top: 0.5vw;

}



.appointment-section1{
  flex: 3;
  background-color: #fff;
  margin-right: 10vw;
  border-radius: 1%;
  box-shadow: 0 4px 8px rgba(196, 181, 176, 0.913);
  max-height: 43vw;
  width:20vw !important;
  margin-top: 1vw;

}
.appointment-section2{
  flex: 3;
  background-color: #fff;
  padding: 1vw;
  margin-right: 1vw;
  border-radius:1%;
  height: auto;
  width:60vw;
  box-shadow: 0 4px 8px rgba(196, 181, 176, 0.913);
  margin-left: 2vw;
}

.appointment-card1 {
  padding: 1%; /* 内边距 */
  border-radius: 10px; /* 圆角边框 */
  width: 25vw; /* 卡片宽度 */
  margin-left:4.5vw;
  margin-bottom: 1vw;
  box-shadow: 0 4px 8px rgba(196, 181, 176, 0.913);
  height:auto;
  
}
.appointment-card2 {
  padding: 2%; /* 内边距 */
  border-radius: 10px; /* 圆角边框 */
  width: 57vw; /* 卡片宽度 */
  margin-right:4.5vw;
  margin-left:3vw;
  margin-bottom: 1vw;
  box-shadow: 0 4px 8px rgba(196, 181, 176, 0.913);
  height:auto;
  
}
.appointment-card3 {
  padding: 1%; /* 内边距 */
  border-radius: 10px; /* 圆角边框 */
  width: 89vw; /* 卡片宽度 */
  margin:2vw 4.5vw;
  margin-bottom: 1vw;
  box-shadow: 0 4px 8px rgb(142, 116, 106);
  height:auto;
  
}
.h2{
	size:auto;
}
.patient-photo1 {
  width: 50px; /* 图片宽度 */
  height: 50px; /* 图片高度 */
  border-radius: 50%; /* 圆形图片 */
  margin-right: 10px; /* 图片与文本之间的距离 */
}
.appointment-list {

}
        .button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: block;
            margin-top: 20px;
            text-decoration: none;
            text-align: center;
        }