
#addNewPatient
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* 确保导航条占据整个容器宽度 */
  box-shadow: 0 2px 4px 0 rgba(6,0,0,0.2); /* 添加水平和垂直偏移的阴影，以及模糊距离和颜色 */
}
.search-container h3{
  font-weight: normal;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width:100%;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  background-color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.log-card{
width:10vw;
  height:3vw;
  border-radius: 8px;
  background-color: #4CAF50;
  border: 0.3% solid #ccc; /* 浅灰色边框 */
  display: flex;
  margin-left:2vw;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}

.log-card a{
    color:#fff;
    font-size: 1vw;
}


.link-container{
	display:inline-block;
}


.user-photo{
   width: 50px; /* 图片宽度 */
  height: auto;
  border-radius: 50%; /* 圆形图片 */
  margin-left:14vw;
  margin-right: 2vw;
}
.hospital-photo{

  width: 5vw; /* 图片高度 */
  object-fit: cover; /* 可选，保持图片的纵横比 */
  margin-bottom:10px;
  margin-left:2vw;

}
.header {
   display: flex;
  justify-content: space-between;
padding-bottom: 1%;
  background: rgb(255, 255, 255);
  justify-content:center;

}

.addnewpatient-patient-card{
  background-color: #fff; /* 灰色背景 */
  border: 1px solid #ccc; /* 浅灰色边框 */
  padding: 15px; /* 内边距 */
  border-radius: 8px; /* 圆角边框 */
  width: 80%; /* 卡片宽度 */
  box-shadow: 0 2px 4px #fff(0, 0, 0, 0.1); /* 轻微的阴影效果 */
  display: flex; /* 使用 Flex 布局 */
  align-items: center; /* 垂直居中 */
  justify-content: center;
  text-align: center;
  margin-bottom: 2%;
  
}

 .main-content{
  text-align: center; 
  margin-top: 2%;  
  width:80%;
  align-items:center;
	background-color: rgb(255, 255, 255);
  }
  


.custom-style input[type=text],
.custom-style select {/*输入框*/
  width:100%;
  padding: 1.5%;
  display: inline-block;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  background-color:#F5F7FB;
}

.custom-style div {
	display: flex;
	align-items: center;
  border-radius: 5px;
  margin-bottom: 1%;
  background-color: rgb(255, 255, 255);
  width: 95%;
  padding: 1.5%;
  justify-content: center;
  white-space: nowrap;
  text-align: start;
}


.custom-style label {
  flex: 0 0 2%; /* Adjust the width as needed */
  
  font-size: large;
  width:50%; /* 或者根据需要调整，为标签设置固定宽度 */
  margin-right: 3%; /* 在标签和输入框之间添加一些空间 */
  text-align: start; /* 文字靠右，确保首字母对齐 */
  background-color:rgb(255, 255, 255);
}
.button-container{
	display: flex;
	align-items: center;
	justify-content:space-between;
	width:100%;
	
	
	
}



