<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/newstylesheet.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<head>
	<meta charset="UTF-8">
	<title>Add New Patient</title>
</head>

<body>
	<div class="navbar">
		<header>
			<div class="header-content">
				<nav>
					<div class="search-container">

						<img src="/css/pictures/logo2.png" alt="Company logo" class="hospital-photo">
						<img src="/css/pictures/logo.png" alt="Company logo formal"
							style="width: 15vw;  object-fit: cover;margin-left: 30vw;">
						<img src="/css/pictures/tom.jpg" alt="Tom" class="user-photo">
						<h3>Hello.</h3>
						<div class="log-card">
							<a href="/login">Logout</a>
						</div>
					</div>
				</nav>
			</div>
		</header>
	</div>


	<div class="header">

		<h1>Add New Patient</h1>
	</div>
	<div style="display: flex;align-items: center;justify-content: center;">
		<div class="addnewpatient-patient-card">
			<div class="main-content">
				<section class="custom-style">
					<form action="#" th:action="@{/Nurse/newPatient}" method="post" th:object="${patient}">
						<div>
							<label for="name">Name</label>
							<input type="text" id="name" name="name" th:field="*{name}">
						</div>


						<div>
							<label for="address">Address</label>
							<input type="text" id="address" name="address" th:field="*{address}">
						</div>


						<div>
							<label for="sex">Gender</label>
							<select id="sex" name="sex" th:field="*{sex}">
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>
						</div>

						<div>
							<label for="allergy">Allergy</label>
							<input type="text" id="allergy" name="allergy" th:field="*{allergy}">
						</div>

						<div>
							<label for="additional_information">Additional Information</label>
							<input type="text" id="additional_information" name="additional_information"
								th:field="*{additional_info}">
						</div>

						<div>
							<label for="medical_condition">Medical Condition</label>
							<input type="text" id="medical_condition" name="medical_condition"
								th:field="*{medical_condition}">
						</div>

						<div class="button-container">
							<a onclick="history.go(-1); return false"><button
									style="background-color: #4CAF50; color: white;border: none;border-radius: 5px;cursor: pointer;font-weight: bold;font-size:medium;padding:10px 30px;margin-right: 10vw;">Back</button></a>
							<input type="submit"
								style="background-color: #4CAF50; color: white;border: none;border-radius: 5px;cursor: pointer;font-weight: bold;font-size:medium;padding:10px 30px;"
								value="Continue"></input>
						</div>
					</form>
				</section>


			</div>
		</div>
	</div>
</body>

</html>