<html>
	<link rel="stylesheet" href="/static/homepage.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Home Page</title>
		<link rel="stylesheet" href="/css/homePage_Doctor.css">
	</head>
	
	<body>
	
	<div class="navbar">
	<header>
		<div class="header-content">
			<nav>
				<div class="search-container">
					<img  src="/css/pictures/logo2.png" alt="Company logo" class="hospital-photo">
					<img  src="/css/pictures/logo.png" alt="Company logo formal" style="width: 15vw;  object-fit: cover;margin-left: 30vw;" >
					<img src="tom.jpg" alt="Tom" class="user-photo">
					<h3>Hello.</h3>
					<div class="log-card">
						<a href="/login">Logout</a>
					</div>
				</div>
			</nav>
		</div>
	</header>
	</div>
	
	
	
		<div class="main-content1">
			<section class="appointment-section2">
				<div class="title-card1">
					<h3 style="margin: 10px;">Appointment</h3>
					<a th:href="@{/Doctor/AppointmentDetails}">view</a>
				</div>
				<div class="appointment-card1"  th:each="appointment:${appointmentList}" >
					
						<p>Appointment ID:<label th:text="${appointment.id}"></label></p>
						<p>Date:<label  th:text="${appointment.date}"></label></p>
						<p>Appointment Time:<label  th:text="${appointment.time}"></label></p>
						<p>Queue Number:<label  th:text="${appointment.queue_number}"></label></p>
						<p>Patient ID:<label  th:text="${appointment.patient.id}"></label></p>
						<p>Name:<label  th:text="${appointment.patient.name}"></label></p>
				</div>
			</section>
			
			<section class="appointment-section2">
			<div class="feedback">
				<div class="title-card2">
					<h3 style="margin: 10px;">Feedback</h3>
					<a th:href="@{/Doctor/FeedbackDetails}">view</a>
				</div>
					<div class="appointment-card2" th:each="feedback:${feedbackList}">
						<div style="margin-bottom: 10px;">
							<p style="font-size: large;font-weight: bold;">Feedback ID:
									<label style="font-size: large;font-weight: normal;" th:text="${feedback.id}"></label></p>
							<p style="font-size: large;font-weight: bold;">Content:
								<label style="font-size: medium;font-weight: normal;" th:text="${feedback.description}"></label></p>
						</div>
					</div>
				</div>
			
			</aside>
		</div>
	</body>
	
</html>