<html xmlns:th="http://www.thymeleaf.org">
	<div style="display: flex;justify-content: space-between;">
		<div>
	<h1>Login</h1>
	<form action="" th:object="${staff}" method="post">
		<table>
			<tr>
				<th>Username:</th>
				<td><input type="text" th:field="*{name}"></td>
			</tr>
			<tr>
				
			</tr>
			<tr>
				<th>Password:</th>
				<td><input type="text" th:field="*{password}"></td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<input type="submit" value="Login"/>
				</td>
			</tr>
		</table>
	</form>
	</div>
	
		<div style="background-image:url(/css/pictures/cover1.jpg);
					background-position:center;
					background-repeat: no-repeat;
					height: 100%;
					width: 50%;">
		<h1>WELCOME</h1>
	</div>
	</div>
</html>