<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Possible Disease And Select Doctor</title>
</head>

<body>
	<h2>Possible Disease</h2>
	<p>Patient may have <b><span th:text="${prediction}"></span></b></p>
	<p>Patient have these symptoms: <b><span th:text="${patientSymptoms}"></span></b></p>
	<span th:unless="${departmentStaff.size() > 0}">No Doctor Available!</span>
	<p></p><a th:href="@{/Nurse/patient/{id}(id=${patientId})}" class="goback-button">Go Back</a></p>
	
	<div th:if="${departmentStaff.size() > 0}">
		<h2>Make Appointment</h2>
		<form th:action="@{/Nurse/selectDoctors}" th:object="${newAppointment}" method="POST">
			<select th:field="*{staff}">
				<option value="">---Select Appointment Doctor</option>
				<option th:each="staff : ${departmentStaff}"
						th:value="${staff.id}"
						th:text="${staff.name}">
				</option>
			</select>
			<label for="selectedDate">Select Date: </label>
			<input type="date" id="selectedDate" th:field="*{date}"/>
			<select th:field="*{time}">
				<option value="">---Select Morning or Night---</option>
				<option th:value="'08:00:00'">Morning</option>
				<option th:value="'14:00:00'">Night</option>
			</select>
			<button type="submit">Submit</button>
		</form>
	</div>
<!--
	To add choose datae, choose morning or afternoon
-->
	
</body>
</html>